services:
  db:
    image: postgres:17-alpine
    container_name: macrolens_db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_storage:/var/lib/postgresql/data

volumes:
  postgres_storage:
